body{
    @apply bg-primary;
}
.carousel .slide img{
    opacity: 0.5;
}
.carousel.carousel-slider .control-arrow:hover {
    background: #dbdde7;
}
.carousel .slide .legend{
    background: transparent;
    opacity: 1;
    left: 3%;
    margin-left: 0%;
    width: 40%;
    text-align: left;
}
